<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Image Board</title>
        <link rel="stylesheet" href="style.css">
        
       
    </head>

    <script>
       // console.log(document.getElementsByClassName("headlineClass"));   
    </script>
    <body>
        
        <div id="main">
            <header>
            <h1>Upload Your images</h1>
            </header>
            <form
                
                enctype="multipart/form-data"
                @submit.prevent="onFormSubmit"
            >
                <div class="form-row">
                    <input type="text" v-model="title" placeholder="Title"/> 
                    <input type="text" v-model="description" placeholder="Description"/>  
                    <input type="text" v-model="username" placeholder="User Name"/>
                    <label for="photo">Select your file</label>
                    <input type="file" name="photo" id="photo" />
                </div>
                <input type="submit" v-on:click="uploadImage" value="Upload!" class="btn-submit" />
            </form>
            <div class="status">{{ message }}</div>
        <body>
            <div class="cont_cards">
        <div class="hey"  v-for="image in images">
                
                    <img :class="cardCSS" :src="image.url" />
                     <div v-if="post" class="content"></div>
                    <h4>{{ image.title }}</h4>
           <!--     
           <h3 class="secondClass" :class="headlineCss">{{ headline }}</h3>
            <ul v-for="city of cities">
                <li>{{city.name}} in {{city.country}}</li>
            </ul>
            Comment:  {{firstName}}<br />
            <input class=" form" type="text" v-model="firstName" name="firstName" id="">
            
             <button class="button" v-on:click="increaseCount">Click me({{count}})</button> --> 

        </div></div>
        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
    </body>
</html>
