* body {
    padding: 30;
    margin: 30;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #82ac9f;
    color: white;
    display: flex;
    background-color: #161616;

    align-items: center;
    justify-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

header {
    display: grid;
    height: 80px;
}
.cont_cards {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}

div.cont_cards {
    display: flex;
    align-items: center;
    justify-items: center;
}
.form {
    display: flex;
    height: 30px;
    background-color: pink;
    font-family: "Roboto", sans-serif;
}

img {
    height: 200px;
    width: 200px;
}

.card_cards {
    display: flex;
}
.secondClass {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 10px;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}
div.hey {
    display: flexbox;
    background-color: whitesmoke;
    color: black;
    height: 337px;
    width: 200px;
}

h4 {
    color: black;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.modal img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.modal .close {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}
